body {
    margin: 0;
    background: rgb(15, 12, 76);
    font-family: fantasy;
}

.accent{
    width:980px;
    height: 500px;
    background-color:white;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: 0px;
    bottom:0px;
    text-align:center;
    border-radius: 25px;
}


.title{
    position: static;
    text-align: center;
    font-size: 60px;
    top: 40px;
    width: 1450px;
    color:rgb(189, 188, 219);
}

.genreTitles{
    position: static;
    text-align: center;
    font-size: 40px;
    top: 50%;
    width: 100%;
    word-spacing: 155px;
    color:rgb(15, 12, 76) ;

}


.recs{
    position: static;
    font-size: 15px;
    padding: 170px 30px;
    width: 100px;
    color:rgb(15, 12, 76);
}

.button1{
    border-radius: 25px;
    color:rgb(189, 188, 219);
    padding: 10px 80px;
    text-align: center;
    top:400px;
    font-family: cursive;
    font-size: 30px;
    margin-right: 250px; 
    cursor: pointer;
    background-color:rgb(15, 12, 76) ;

}

.button2{
    border-radius: 25px;
    color:rgb(188, 205, 219);
    padding: 10px 80px;
    text-align: center;
    top:400px;
    font-family: cursive;
    font-size: 30px;
    cursor: pointer;
    background-color:rgb(10, 54, 85) ;

}

.inline{
    display:inline-block;
}


.inline2{
    margin-top: 40px;
    display: flex;
    gap:350px;
    
}
#output1{
    
    margin-left: 130px;
    width:400px;


}

#output2{
    margin-right: 120px;
    width:500px;

}


.button1:hover{
    background-color: rgb(10, 54, 85);
}

.button2:hover{
    background-color:rgb(15, 12, 76) 
}

#image{
    border-radius: 25px;
    border-color: white;
    background-color:white;
    width: 700px;
    height:100px;
    margin-left: 150px;
    display:none;
}